<!-- <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="form.errors?.auth" class="error-panel invalid-feedback">
    {{form.errors.auth}}
  </div>
  <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Username') }">
    <input type="text" required formControlName="Username" class="form-control" placeholder="Username or Email address" />
    <span *ngIf="hasError('Username')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('Username')" class="invalid-feedback">
      Please insert a valid username or e-mail address.
    </div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error has-feedback' : hasError('Password') }">
    <input type="password" required formControlName="Password" class="form-control" placeholder="Password" />
    <span *ngIf="hasError('Password')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <div *ngIf="hasError('Password')" class="invalid-feedback">
      Please insert a password.
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="login-link">
      <a [routerLink]="['/user/register']">
        Forgot password
      </a>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
  <div>Or
    <a [routerLink]="['/user/register']">Sign up</a>
  </div>
</form>
<div class="text-center">
  <hr class="hr-text" data-content="OR">
  <app-facebook-login></app-facebook-login>
</div> -->

<form class="form-container" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" required>
    <mat-error *ngIf="getFormControl('username').invalid">{{getErrorMessage("username")}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="getFormControl('password').invalid">{{getErrorMessage("password")}}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>
  <span class="mat-caption">Don't have an account? Create One
    <button mat-button type="button" color="primary" routerLink="/auth/register">Register</button>
  </span>
</form>
