<!-- <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Forgot password</h3>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="getFormControl('email').invalid">{{getErrorMessage("email")}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">Send</button>

  <span class="mat-caption">Just recall?
    <button mat-button type="button" color="primary" routerLink="/user/login">Login</button>
  </span>
</form> -->
